header {
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

section {
  margin: 1%;
  padding: 1%;
  background-color: rgb(138, 136, 136);  
}

.button {
  background-color: rgb(13, 113, 228);
  color: #ffffff;
}