<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <header>
        <h1>Upload page...</h1>
    </header>
    <section>
        <h2>Select a picture:</h2><br/>
        <form method="POST" enctype=multipart/form-data>
            <input id="file_button" type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </section>
    <section>
      {% if not img_src %}
        <h2> There isn't any file upload yet.</h2>
      {% else %}
        <div class="two_column">
          <figure>
            <img id="image_uploaded" src="{{ img_src }}" width="50%">
            <figcaption id='img_footer'>{{ img_title }}</figcaption>    
          </figure>
        </div>
        <div class="two_column_last">
          <h1> {{ msg }}</h1>
          <textarea id="result" rows="4" cols="50">{{ extracted_text }}</textarea>
        </div>
      {% endif %}
    </section>
</body>

</html>