<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript">
        function alerta() {
            alert("hola, mundo");
        }
        function setImage() {
          if (document.getElementById("file_button").value != null){
              alert(document.getElementById("file_button").value);
          }
        }
    </script>
</head>
<body>
    <header>
        <h1>Upload page...</h1>
    </header>
    <section>
        <h2>Select a picture:</h2><br/>
        <form method="POST" enctype=multipart/form-data>
            <input id="file_button" type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </section>
    <section>
        <div class="two_column">
            {% if img_src %}
                
                <figure>
                    <img src="{{ img_src }}">    
                </figure>
            {% else %}
                <h2> There isn't any file upload yet.</h2>
            {% endif %}
            
        </div>
        <div class="two_column_last">
            {% if msg != null %}
                <h1> {{ msg }}</h1>
                <textarea id="result" rows="4" cols="50">{{ extracted_text }}</textarea>
            {% else %}
                <br/>
            {% endif %}
        </div>
    </section>
</body>

</html>